<h3>
  Articles >> View >> Title: <%= @article.title %>
</h3>

<%= render 'layouts/messages' %>

<p>
  Description: <%= @article.description %>
</p>
<p>
  <%= link_to "Back", articles_path, class: 'button' %> &nbsp; <%= link_to "Edit", edit_article_path(@article), class: 'button' %>
</p>
