<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="branding">
        <h1>
          Alpha Blog
        </h1>
      </div>
      
      <div id="nav_bar">
        <div id="centeringdiv">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About Us', aboutus_path %></li>
            <li>
              <div id="dropdown">
                <%= link_to 'Articles', articles_path, class: 'dropbtn' %>
                <div class="dropdown-content">
                  <%= link_to "New Article", new_article_path %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        
      </div>
    </div>
    <div id="after_footer">
      &copy; 2018 Design by David Fountain
    </div>
  </body>
</html>